.header_logo {
    height: 100%;
    margin-right: 10px;
}

.header_title{
    margin-right: auto;
    font-size: 80px;
}

.footer_title{
    text-align: center;
    font-size: 20px;
}


.header_subtitle{
    font-size: 50px;
    color: burlywood;
}
.header {
    display:flex;
    align-items:center;
    height: 65px;
    background-color: blueviolet;
    color:antiquewhite;
    padding: 20px;
    margin-bottom: 20px;
}
.footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    align-items:center;
    height: 65px;
    background-color: rgb(207, 98, 26);
    color:antiquewhite;
    padding: 5px;
}

.input_form {
    padding: 5px;
    background-color: hotpink;
    color: aliceblue;
    border-radius: 5px;
}

.form {
    padding: 20px;
    width: 200px;
    display: grid;
    grid-template: 50px 50px / 1fr 1fr;
    gap: 10px;

}

.form_div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.instapost {
    margin-top: 20px;
    max-width: 30%;
    max-height: 30%;
}

.input_button {
    border-radius: 5px;
    grid-column: 1 / -1;
}

.input_button:hover {
    background-color: #2980b9; /* Change the background color on hover */
  }

  .img_container {
    position: relative;
    align-items: center;
    text-align: center;
    background-color: rgb(122, 186, 190);
  }
  
  /* Bottom text */
  .bottom{
    position: absolute;
    bottom: 8px;
    text-align: center;
    width: 100%; 
  }
  
  /* Top text */
  .top{
    position: absolute;
    text-align: center;
    top: 8px;
    width: 100%; 
  }

  .meme_style_text {
    position: absolute; 
    left: 0;
    right: 0; 
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
  }

  .chart-container {
    display: flex;
    flex-direction: column; 
  }
  
  .chart {
    flex: 1; /* Allow the charts to take equal space */
    margin: 0 5px; /* Optional margin for spacing between charts */
    padding: 5px;
    margin: 1px;
  }